
table{
    height: 500px;
    width: 300px;
    border:5px solid orange;
    margin: 50px auto;
}


/*target change color only even row such as row 2,4,6*/
tr:nth-child(even){
    background-color: pink;
}

/*target change color only -odd row such as row 1,3,9*/
tr:nth-child(odd){
    background-color:green;
}